@{
    ViewBag.Title = "CLIENTE";
}

<div class="row">
    <div class="form-group">
        <label for="nombre1">Nombre 1</label>
        <input type="text" class="form-control" id="nombre1">
    </div>
    <div class="form-group">
        <label for="nombre2">Nombre 2</label>
        <input type="text" class="form-control" id="nombre2">
    </div>
    <div class="form-group">
        <label for="apellido1">Apellido 1</label>
        <input type="text" class="form-control" id="apellido1">
    </div>
    <div class="form-group">
        <label for="apellido2">Apellido 2</label>
        <input type="text" class="form-control" id="apellido2">
    </div>
    <div class="form-group">
        <label for="documento"># documento</label>
        <input type="text" class="form-control" id="documento">
    </div>
    <button class="btn btn-primary" onclick="guardar()">Guardar</button>
</div>
<br />
<hr />
<div class="row">
    <table id="clientestable" class="display" width="100%"></table>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/ClienteJS.js"></script>